.header{
    height: var(--header-height);
    background-image:linear-gradient(0,#fe6433,#f53e2d);
    
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item{
    margin: 0 8px ;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--has--notify:hover .header__notify,
.header__navbar-item--has--qr:hover .header__qr{
    // CSS
    display: block;
}

.header__navbar-item,.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,.header__navbar-item-link,.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
    
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left:1px    solid #fb9086 ;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;

}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--nonclick{
cursor: text;
color: white;
}
.header__navbar-icon-link:hover{
    opacity: 0.6;
}

/* Header QR */

.header__qr{
    background-color: #fff;
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
     display: none;
     animation: fadeIn ease-in 0.5s;

}

.header__qr::before{
    position: absolute;
    width: 100%;
    left: 0;
    height: 20px;
    content: "";
    display: block;
    
    top: -17px;

}
.header__qr-img{
    width: 100%;
    
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-download-img{
    height: 16px;
    

}


// Header Notification
.header__notify{
    position: absolute;
    top: 118%;
    border-radius: 2px;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top ;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity,transform;
    display: none;
    z-index: 1;
}
.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent white transparent;
    position:absolute;
    right:1px;
    top: -28px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--seen {
    background-color: rgb(238, 77, 45,0.09);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px ;
    text-decoration: none;
    

}

.header__notify-img {
    width: 48px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;

}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.6rem;
    color: #756f6e;
}

.header__notify-footer{
    display: flex;
    
    
}
.header__notify-footer:hover{
    background-color: #f7f7f7;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 12px;
    display: block;
    margin: auto;
    font-weight: 400;
    width: 100%;
    text-align: center;
    
}


// Search header
.header-with-search{
height: var(--header-with-search-height);
display: flex;
align-items: center;
margin: 0 4px;
}
.header__logo{
    width:200px ;
}
.header__logo-img{
    
    width:100px;
    
    
}
.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background: var(--white-color);
    display: flex;
    align-items: center;
    
}
.header__cart{
    width: 150px;
    text-align: center;
    
    
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    
    font-size: 2.4rem;
    color: var(--white-color);

}


.header__cart-list{
    position: absolute;
    top: calc( 100% + 9px );
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    height: 250px;
    display: none;
    animation: headerNotifyGrowth ease-in 0.25s;
    transform-origin: calc(100% - 20px) top ;
    cursor: default;

}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right:-1px;
    top:-30px;
    border-width:20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

}
.header__cart-list--no-cart{
    padding: 60px 0 0;
    display: flex;
    justify-content: center;
    
    

}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    
    display: block;
}

.header__cart-no-cart-img{
    width:30%;
    margin-top: 60px;
    align-self: center;
    display: none;

}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color : var(--text-color);
    
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius:10px ;
    border:2px solid #EE4d2d ;
    background-color: var(--white-color);
    color: var(--primary-color);
    top:-8px  ;
    right:-7px;
    

}



.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;

}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(190, 190, 190);
    overflow: hidden;
    display: none;

}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400px;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;

    .header__search-history-item:last-child{
        border-bottom-left-radius:3px ;
        border-bottom-right-radius:3px ;

    }    
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}


.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    
    cursor: pointer;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-select:hover .header__search-option{
    display: block;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    

}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position:relative;
    top: 1px;
}
.header__search-btn{
background-color: var(--primary-color);
border: none;
align-items: center;
height: 36px;

font-size: 1.4rem;
border-radius: 2px;
margin-right: 2px;
width: 60px;
}
.header__search-btn-icon{
    color: var(--white-color);

}

.header__search-btn:hover{
    cursor: pointer;
    background-color:#f56042 ;


}


.header__search-option{
    
    position: absolute;
    right: 0;
    top: 100%;
    width:130px;
    list-style:none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    
    display: none;
}

.header__search-option::after{
    position: absolute;
    content:"";
    display: block;
    width: 100%;
    height: 10px;
    // background-color: #f53e2d;
    top: -10px;left: 0;
}
.header__search-option-item{
    
    
    background-color: var(--white-color);
    
    padding: 8px 8px;
   
   
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    

}


.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size:1.4rem;
    color:var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}


// Giỏ hàng
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-style: 1.4em;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding: 0;
    list-style: none;

}
.header__cart-item{
    display: flex;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}
.header__cart-item-info{

}
.header__cart-item-head{
    display: flex;
    align-items: center;
}
.header__cart-item-name{
    font-style: 1.4rem;
    font-weight: 500;
    color: var(--text-color);

}
.header__cart-item-price{

}
.header__cart-item-multiply{

}
.header__cart-item-quantity{

}
.header__cart-item-body{

}
.eader__cart-item-discription{

}
.header__cart-item-remove{

}