.home-product-item{
    margin-top: 10px;
    background-color: var(--white-color);

}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height:  1.8rem;
    height:3.6rem;
    overflow:hidden;
    margin:10px 10px 6px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}
.home-product-item__price{
    display: flex;
     
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px; 
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    color: orangered;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    // zoom: 0.1;
    transform: scale(0.8);
    transform-origin:right ;
    color: #d5d5d5;
    margin-left: auto;
}
.home-product-item__star-gold{
    color:var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin{

}
.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favourite{

}
.home-product-item__sale-off{

}
.home-product-item__sale-off-percent{

}
.home-product-item__sale-off-label{

}