.home-product-item{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0,.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow:  0 1px 20px 0 rgba(0,0,0,0.5 );
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius:2px ;
    border-top-right-radius:2px ;


    
    

}
.home-product{
    margin-bottom: 10px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height:  1.8rem;
    height:3.6rem;
    overflow:hidden;
    margin:10px 10px 6px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}
.home-product-item__price{
    display: flex;
     
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px; 
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    color: orangered;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    // zoom: 0.1;
    transform: scale(0.8);
    transform-origin:right ;
    color: #d5d5d5;
    margin-left: auto;
    // position: relative;
    // top: -1px;
    margin-top: -1px;
}
.home-product-item__star-gold{
    color:var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #595959;
    margin-top: 3px;
}
.home-product-item__brand{

}
.home-product-item__origin-name{
    

}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right:4px ;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;

}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%)    ;
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0 ;
    width: 40px;    
    height: 36px;
    background-color: rgba(255,216,64,0.94);
    text-align: center;
    border-top-right-radius:2px ;

}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255,216,64,0.94);
    border-color: transparent currentColor transparent currentColor;

}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight:600 ;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}
.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    position: relative;
    font-weight: 600;
    top: 3px;
}