:root{
    --primary-color:#EE4D2D;
    --primary-color-rgba:rgb(238, 77, 45);
    --star-gold-color: #ffce3e;
    --black-color:#000;
    --white-color:#fff;
    --text-color:#333;
    --border-color:#dbdbdb;
    --navbar-height: 34px
    --header-height: 120px
    --header-with-search-height: calc(var(--header-height)var(--navbar-height));
}