:root{
    --primary-color:#EE4D2D;
    --primary-color-rgba:rgb(238, 77, 45);

    --black-color:#000;
    --white-color:#fff;
    --text-color:#333;
    --border-color:#dbdbdb;
}

*{
    box-sizing: inherit;
}

html{
        font-size: 62.50%;
        line-height:1.6rem ;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__ful-width{
    width: 100%;   
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* Animation */

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* buton style */
.btn{

    color: var(--text-color);
    min-width: 142px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px; 
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.btn.btn--primary{
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    cursor: default;
    filter: brightness(80%);
}